<div class="col-12" style="background-color:chartreuse">
    <p>Pattu chorni Ko Fresh Fruits Haru</p>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            Oranges
                            <div class="image">
                                <img src="/img/orange.jpg" class="img-circle elevation-2" alt="User Image" width="180" height="170">

                            </div>
                            <a asp-controller="Item" asp-action="BUY"  class="btn-lg">Buy</a>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Apples
                        <div class="image">
                            <img src="/img/Apples.jpg" class="img-circle elevation-2" alt="User Image" width="180" height="170">
                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Mangoes
                        <div class="image">
                            <img src="~/img/Mango.jpg" class="img-circle" alt="Herbs" width="240" height=" 170">

                        </div>

                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>


            </div>
        </nav>

    </header>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            Bananas
                            <div class="image">
                                <img src="/img/Bananas.jpg" class="img-circle elevation-2" alt="User Image" width="240" height="170">

                            </div>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Watermelons
                        <div class="image">
                            <img src="/img/Watermelon.jpg" class="img-circle elevation-2" alt="User Image" width="240" height="170">
                        </div>
                        <a asp-controller="Item" asp-action="BUY" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Strawberries
                        <div class="image">
                            <img src="~/img/Strawberry.jpg" class="img-circle" alt="Herbs" width="240" height="170">

                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>


            </div>

        </nav>

    </header>
    <a asp-controller="Item" asp-action="Vegetables" class="btn-lg">Next</a> 
    
 </div>

