<div class="col-12" style="background-color:chartreuse">
    <p>Pattu chorni Ko Fresh Herbs Haru</p>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            Mints
                            <div class="image">
                                <img src="/img/Mint.jpg" class="img-circle elevation-2" alt="User Image" width="180" height="170">

                            </div>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Parsleys
                        <div class="image">
                            <img src="/img/Parsley.jpg" class="img-circle elevation-2" alt="User Image" width="180" height="170">
                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Oreganoes
                        <div class="image">
                            <img src="~/img/Oregano.jpg" class="img-circle" alt="Herbs" width="240" height=" 170">

                        </div>

                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>


            </div>
        </nav>

    </header>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            Dills
                            <div class="image">
                                <img src="/img/Dill.jpg" class="img-circle elevation-2" alt="User Image" width="240" height="170">

                            </div>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Rosemarys
                        <div class="image">
                            <img src="/img/Rosemary.jpg" class="img-circle elevation-2" alt="User Image" width="240" height="170">
                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Limes
                        <div class="image">
                            <img src="~/img/Lime.jpg" class="img-circle" alt="Herbs" width="240" height="170">

                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>


            </div>

        </nav>

    </header>

    <a asp-controller="Item" asp-action="Details" class="btn-lg">Back</a>
</div>
