<div class="col-12" style="background-color:chartreuse">
    <p>Pattu chorni Ko Fresh Vegetables Haru</p>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           Lady Fingers
                            <div class="image">
                                <img src="/img/LadyFingers.jpg" class="img-circle elevation-2" alt="User Image" width="180" height="170">

                            </div>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Cauli Flowers
                        <div class="image">
                            <img src="/img/Cauliflower.jpg" class="img-circle elevation-2" alt="User Image" width="180" height="170">
                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Cabbages
                        <div class="image">
                            <img src="~/img/Cabbages.jpg" class="img-circle" alt="Herbs" width="240" height=" 170">

                        </div>

                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>


            </div>
        </nav>

    </header>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            Potatoes
                            <div class="image">
                                <img src="/img/potatoes.jpg" class="img-circle elevation-2" alt="User Image" width="240" height="170">

                            </div>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                            <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Tomatoes
                        <div class="image">
                            <img src="/img/Tomatoes.jpg" class="img-circle elevation-2" alt="User Image" width="240" height="170">
                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        Carrots
                        <div class="image">
                            <img src="~/img/Carrot.jpg" class="img-circle" alt="Herbs" width="240" height="170">

                        </div>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Buy</a>
                        <a asp-controller="Item" asp-action="Index" class="btn-lg">Add to wishlist</a>
                    </li>
                </ul>


            </div>

        </nav>

    </header>

    <a asp-controller="Item" asp-action="Herbs" class="btn-lg">Next</a>
</div>
