@{
    ViewData["Title"] = "Shabeiko Organic Farm";
}
<h1>@ViewData["Title"]</h1>

<p>
    Organic farming is a technique, which involves the cultivation of plants and rearing of animals in natural ways. This process involves the use of biological materials, avoiding synthetic substances to maintain soil fertility and ecological balance thereby minimizing pollution and wastage.

    In other words, organic farming is a farming method that involves growing and nurturing crops without the use of synthetic based fertilizers and pesticides. Also, no genetically modified organisms are permitted.
</p>
<p>Our Shabeiko Organic Farm was established on 2058 B.S.</p>
<br />
<h2>Contact Details</h2>
<br />
Email: Shabeiko123@gmail.com
<br />
Phone: 9805243351/982729211
<br />
Address: Pokhara-4-Annapurna Marg

